@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@font-face {
    font-family: space_range;
    src: url(./fuentes/spaceranger.ttf);
 }
 /* font-family: 'Ubuntu', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --azul-oscuro: #011b77;
    --amarillo: #eee502;
    --verde:#00973c;
    --blue-clear:#87b0dc;
    --dorado:#f1d866;
    --white:#F8F6F4;
    --morado-oscuro:#71267f;
    --morado-claro:#8f4b9d;
    --gris-oscuro: #2D2727;
}
body{
    background-color: gray;
    font-family:'Ubuntu', sans-serif;;
}
header{
    width: 100%;
    height: 100px;
    background-color: var(--blue-clear);
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}
.logo{
    display: flex;
    align-items: center;

}
.logo img{
    width: 90px;
}
.logo p{
    color: var(--white);
    font-size: 30px;
    font-family: space_range;
    font-weight: 100;
}
.menu{
    display: flex;
    gap: 60px;
}
.menu li{
    
    list-style: none;
}
.menu a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: var(--white);
}
li:hover{
    animation:slide-top 0.2s linear both}
    @keyframes slide-top
    {0%{transform:translateY(0)}100%{transform:translateY(-9px)}  
}
.btn_lg:hover{animation:shadow-drop-center 0.2s linear both} @keyframes shadow-drop-center{0%{box-shadow:0 0 0 0 transparent}100%{box-shadow:0 0 50px 0 rgb(200, 191, 242)}
}
.login{
    display: flex;
    gap: 15px;
}
.login div a{
    border: var(--amarillo) solid 3px;
    font-size: 25px;
    padding: 10px 60px;
    border-radius: 30px;
    font-family: space_range;
    text-decoration: none;
    cursor: pointer;
    font-weight: 100;
    
}
.register-button:hover{
    background-color: var(--azul-oscuro);
    color: var(--white);
}
.login-button{
    background-color: var(--azul-oscuro);
    color: var(--amarillo);
}
.login-button:hover{
    background-color: var(--blue-clear);
    color: var(--white);
}
